:root{
    --ff-icons: material-icons;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --lh-tight: 100%;
    --lh-normal: 130%;
    --lh-loose: 150%;
    --base-font-size: calc(1rem * 0.08);
    --xxxs: 5px;
    --xxs: 8px;
    --xs: 10px;
    --s:  12px;
    --m: 16px;
    --l: 20px;
    --xl: 24px;
    --xxl: 32px;
    --xxxl: 40px;
    --color-light: #e8e8e8;
    --color-lightest: #fff;
    --color-dark: #6C6C6C;
    --color-orange: #EA5B0C;
    --color-black: #000;
    --color-pink: #B62584;
    --color-red: #C60C0F;
    --clor-links: #4285F4;
    --quat: calc(var(--m) / 4);
    --half: calc(var(--m) / 2);
}